.cart__product{
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in;
}
.cart__product:hover{
    box-shadow: 10px 0px 48px rgba(0,0,0,0.11);
}
.image__section {
    padding: 1rem;
    /* background-color: aqua; */
}
.image__section > img{
    object-fit: contain;
    height: 250px;
    width: 200px;
}
.info__section{
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* width: 75%; */
}
.info__section > .title{
    font-size: 18px;
    font-weight: 600;
    margin: 0rem 0rem 0.2rem 0rem;
}
.info__section > .description{
    /* width: 75%; */
    font-size: 14px;
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-bottom: 2rem;
}
.button__div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(253, 183, 53);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}
.button__div > button:hover {
    background-color: orange;
}